.media-body {
    -ms-flex: 1;
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    word-break: break-word;
}

.text-small {
    font-size: 87.5%;
    font-weight: 400;
}

.contrib-column {
    font-size: 12px;
}

.contrib-number {
    font-weight: 400;
}

.table-column {
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

ul.gha-commits {
    padding-inline-start: 20px;
}

@media (min-width: 992px) {
    .table-column {
        display: inline-block;
        width: 33.33333%;
    }
}

@media (max-width: 768px) {
    .media-body .float-right {
        float: none !important;
    }
}